
#carousel {
    width: 500px;
    height:290px;    
    margin:0 auto;
}
#slides {
    overflow: hidden;
    /* fix ie overflow issue */
    position:relative;
    width:500px;
    height:250px;
    border:1px solid #ccc;
}
/* remove the list styles, width : item width * total items */    
#slides ul {
    position:relative;
    left:0;
    top:0;
    list-style:none;
    margin:0;
    padding:0;    
    width: 2500px;   
    text-align: center;     
}
/* width of the item, in this case I put 250x250x gif */
#slides li {
    width:500px;
    height:250px;    
    float:left;
    color: #fff;
}
#slides h1 {
    text-align: center;
}

/* Styling for prev and next buttons */
#buttons {
    padding:0 0 5px 0;   
    background-color: #fff;
    text-align: center;
}


#buttons a {
    padding: 10px;
    color: #000;
    font-size: 30px;
    display:inline-block; 
    width:32px; 
    height:32px;
    outline:0;
    text-decoration: none;
}


#slide_1 {
    background-color: red;
}

#slide_2 {
    background-color: blue;
}

#slide_3 {
    background-color: green;
}

#slide_4 {
    background-color: yellow;
}

#slide_5 {
    background-color: orange;
}

.clear {clear:both}